* {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: 'Titillium Web';
}

html {
	width: 100%;
	height: 100%;
	background-color: #DDD;
}

#content {
	transition-duration: 0.3s;
}

.send-login {
	height: 2.6rem !important;
	font-size: 1.3rem !important;
	font-family: 'Roboto';
	margin-top: 1rem;
}

.card-login {
	height: 33rem !important;
}

.card-rec {
	height: 28rem !important;
}

.input-field label {
	font-size: 1.2rem !important;
}

.input-field label.active {
	font-size: 1rem !important;
}

input[type="text"] {
	font-size: 1.2rem !important;
}

a {
	color: #888 !important;
	font-size: 1.3rem;
}

a:hover {
	color: #333 !important;
}

#lingua{
	margin-top: 0;
	margin-left: 1rem;
	margin-right: 0;
	text-align: right;
	color: #AAA !important;
}

#lingua select {
	padding-left: 30px;
	width: 110px;
	color: #EDED00;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	-webkit-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

#lingua option {
	color: #EDED00;
	border: none;
	text-align: right;
	padding-right: 5px;
}

.logo {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.logo img {
	width: 12rem;
	height: 12rem;
}

.fadein {
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
